{
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "printWidth": 170,
    "jsxSingleQuote": true,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "singleAttributePerLine": false,
    "proseWrap": "never"
}
